@model MvcProj.Models.User

@{
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<div class="row">
    <div class="col-md-4">
     </div>

    <div class="col-md-3">
        <form class="form-group-lg" style="margin-top:35%" action="/Main/saveSignUp" method="post" enctype="multipart/form-data">
            <div>
                <a href="#" style="font-size:large;color:maroon ;text-align:center">Enter Your Information</a>
            </div>
            <div class="form-group">
                @Html.TextBoxFor(m => m.name, new { placeholder = "Full Name", @class = "form-control" })
            </div>
            <div class="form-group">
                @Html.TextBoxFor(m => m.rollNumber, new { placeholder = "PUCIT Roll #", @class = "form-control" })
            </div>
            <div class="form-group">
                @Html.PasswordFor(m => m.password, new { placeholder = "Password", @class = "form-control" })
            </div>
            <div class="form-group">
                <select class="dropdown-toggle btn-custom btn-default" id="MovieType" name="bloodGroup">
                    <option selected="selected" value="">Choose Group</option>
                    <option value="A+">A+</option>
                    <option value="B+">B+</option>
                    <option value="O+">O+</option>
                    <option value="AB+">AB+</option>
                    <option value="A-">A-</option>
                    <option value="B-">B-</option>
                    <option value="O-">O-</option>
                    <option value="AB-">AB-</option>

                </select>
            </div>
            <div>
                <input class="btn-default" type="file" id="InputFile" name="InputFile">
            </div>
            <button style="align-self:center;margin-bottom:8%" type="submit" class="btn btn-danger btn-custom">CREATE ACCOUNT</button><br />
        </form>
    </div>
</div>
